* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    display: flex;
    min-height: 700px;
    align-items: center;
    position: center;
    justify-content: center;
    background-image: url('https://resi.ze-robot.com/dl/ho/hope-this-is-allowed-i-modified-a-wallpaper-i-saw-here-link-to-original-in-comments-1920%C3%971080.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    
}
.square .after-view img{
    max-width: 80px;

}
/* .square .before-view img{
    max-width: 30px; */

.game-container {
    height: 500px;
    width: 500px;
    border-radius: 15px;
    padding: 25px;
    margin: 10px;
    align-items: center;

}
.squares,
.square,
.view {
    display: flex;
    justify-content: center;
    align-items: center;
}
.squares {
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.squares .square{
    height: calc(100% / 4 - 5px);
    width: calc(100% / 4 - 5px);
    position: relative;
    perspective: 800px;
    transform-style: preserve-3d;
}    
h1 {
    text-align: center;
    color: whitesmoke;
}
    

.squares .square .view {
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    transition: transform .20s linear;
    backface-visibility: hidden;
    pointer-events: none;
    user-select: none;
}
/* https://www.w3schools.com/css/css3_transitions.asp */
.square .after-view {
    /* display: none; */
    transform: rotateY(-180deg);
}
.square.flip .after-view {
    transform: rotateY(0);
}
.square.flip .before-view {
    transform: rotateY(180deg);
}
/*https://stackoverflow.com/questions/51885996/multiple-flip-boxes-but-only-flip-the-one-clicked-on8
*/
button {
    background: black;
    color: white;
    font-size: 15px;
    border: 2px solid black;
    margin: 20px;
    padding: 1rem 2rem;
    border-radius: 2rem;
    transition: 0.2s ease;
    cursor: pointer;
}
button:hover {
    background: white;
    color: palevioletred;
    box-shadow: 0 0 25px white, 0 0 50px white;
}
/* https://css-tricks.com/how-to-create-neon-text-with-css/ */
#game-timer {
    color: white;
    font-size: 2rem;
}
.square.shake{
    animation: shake 0.30s ease-in-out;
}
@keyframes shake{
    0%,
    100%{
        transform: translateX(0);
    }
    80%{
        transform: translateX(8px);
    }
    60%{
        transform: translateX(-8px);
    }
    40%{
        transform: translateX(10px);
    }
    20%{
        transform: translateX(-10px);
    }

}
/* https://stackoverflow.com/questions/38132700/css-wiggle-shake-effect */