* {
    box-sizing: border-box;
}
body {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;

}
.game-container {
    background-color: whitesmoke;
    position: relative;
     height: 550px;
    width: 550px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;

}
.start-Again {
    background-color: darksalmon;



}
.game-timer {
    color: red;

}